body {
    margin: 0;
    padding: 0;
    background-color: #1258A1;
    background-image: url("Images/Rectangle 1.svg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: multiply; 
    font-family: "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #fff;
}

.wrapper{
    margin-left: auto;
    margin-right: auto;
    margin-block-end: auto;
}

header {
    text-align: center;
    padding-top: 10px;
}

/* CSS */
.header-image {
    width: 5%; 
    height: auto; 
    display: block; 
    margin: 0 auto;
}


.top-right-image {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    z-index: -1; 
}

.bottom-left-image {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20%;
    z-index: -1; 
}

main {
    position: relative;
    flex-direction: column;
}

.background-image {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    
}

.background-image img {
    max-width: 20%; 
    height: auto;
    margin: 3px; 
}

.text1{
    text-align: center;
    font-size: 2rem; 
    font-weight: bold;
    margin-top: 0.25rem; 
}

.text2 {
    text-align: center;
    font-size: 3.5rem; 
    font-weight: bold;
    margin-top: -0.75rem; 
}

.text3{
    color: #BFD62F;
    text-align: center;
    font-size: 1rem; 
    margin-top: 0.5rem; 
}

.text4 {
    text-align: center;
    font-size: 1rem; 
    margin-top: 1rem; 
}

.text5,
.text6,
.text7 {
    text-align: center;
    font-size: 1rem; 
    margin-top: 0.01rem; 
}

.text8 {
    color: #F8CB3F;
    text-align: center;
    font-size: 0.75rem; 
    margin-top: 1rem; 
}

.text9{
    color: #F8CB3F;
    text-align: center;
    font-size: 0.75rem; 
    margin-top: 0.01rem; 
}
.text10 {
    color: #F8CB3F;
    text-align: center;
    font-size: 0.75rem;
    margin-top: 0.01rem;
}

footer {
    text-align: center;
    color: white;
}

@media (max-width: 768px) {
    header {
        text-align: center;
    }

    .header-image {
        width: 20%; 
        height: auto; 
    }

    .background-image img {
        max-width: 75%; 
        height: auto;
        margin: 3px; 
    }
    
    .text1 {
        font-size: 1.8rem; 
        margin-top: 1rem;
    }

    .text2 {
        font-size: 3rem; 
        margin-top: -0.75rem; 
    }

    .text3 {
        color: #BFD62F;
        font-size: 1.2rem; 
        margin-top: 0.75rem; 
    }

    .text4 {
        font-size: 1rem; 
        margin-top: 1rem; 
    }

    
    .text5,
    .text6,
    .text7 {
        font-size: 1rem; 
        margin-top: 0.5rem; 
    }

    .text8 {
        font-size: 1rem; 
        margin-top: 1.5rem; 
    }


    .text9,
    .text10 {
        font-size: 1rem; 
        margin-top: 0.5rem; 
    }

    footer {
        text-align: center;
        
        color: white;
    }
}
